<% content_for :title do %>
  Sign in
<% end %>

<div class="login-content">
  <div class="login-container card hoverable">
    <div class="login-heading">
      <h2 class="login-heading-logo blue-text text-darken-2">
        <i class="fa fa-home"></i>furnish.
      </h2>
      <h4 class="login-heading-title">Sign in</h4>
    </div>
    <div class="login-form">
      <%= render 'form'%>
    </div>
  </div>
</div>