<% content_for :title do %>
  Welcome
<% end %>

<div class="landing-content">
  <div class="landing-container">
    <h1 class="landing-heading white-text">
      <i class="fa fa-home"></i>furnish.
    </h1>
    <div class="landing-links-container">
      <%= link_to "JOIN US!", register_path(:customer), class: "btn waves-effect waves-light light-blue darken-4", id: "register-user" %>
      <%= link_to "LOG IN", signin_path, class: "btn waves-effect waves-red white light-blue-text text-darken-4", id: "login" %>
      <small class="white-text">or</small>
      <%= link_to "Register as produsen",register_path(:produsen), class: "btn waves-effect waves-light grey darken-4 white-text", id:"login-produsen" %>
    </div>
  </div>
</div>