<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color grey darken-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">furnish.</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">reorder</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Catalog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if logged_in?%>
            <li><a href="#">My Cart</li>
            <li>
              <%= link_to "SIGN OUT", signout_path, class: "btn waves-effect waves-blue white light-blue-text text-darken-4", id: "signout" %>
            </li>
          <% else %>
            <li>
              <%= link_to "SIGN IN", static_path, class: "btn waves-effect waves-blue white light-blue-text text-darken-4", id: "signin" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="https://www.google.com/">Shop</a></li>
      <li><a href="#">Catalog</a></li>
      <li><a href="#">Contact</a></li>
    </ul> 
  </div>
  <!-- end header nav-->
</header>