<% content_for :title do %>
    Index
  <% end %>
  
  <%= render 'header'%>

  <div class="carousel carousel-slider center">
    <a class="carousel-item" href="#one!"><img src="https://images.pexels.com/photos/700549/pexels-photo-700549.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></a>
    <a class="carousel-item" href="#two!"><img src="https://images.pexels.com/photos/245208/pexels-photo-245208.jpeg?cs=srgb&dl=architecture-cabinets-carpet-245208.jpg&fm=jpg"></a>
  </div>
  