<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color grey darken-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">
          <i class="fa fa-home"></i>Furnish.
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Catalog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Sign In</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>