<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color grey darken-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">furnish.</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Catalog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Sign In</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="#">Shop</a></li>
      <li><a href="#">Catalog</a></li>
      <li><a href="#">Contact</a></li>
    </ul> 
  </div>
  <!-- end header nav-->
</header>