<% content_for :title do %>
  Sign in
<% end %>

<div class="login-content">
  <div class="login-container card hoverable">
    <div class="login-heading">
      <h2 class="login-heading-logo light-blue-text text-darken-4">
        <i class="fa fa-home"></i>furnish.
      </h2>
      <h4 class="login-heading-title">SIGN IN</h4>
    </div>
    <div class="login-form">
      <%= render 'form', user_session: @user_session %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script>
  </script>
<% end %>
